* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

/* Wide display styling first i guess width=1920*/
.sidebar {
  background-color: rgb(0, 154, 196);
  color: rgb(255, 255, 255);
  padding: 40px 60px 40px 20px;
}

.sidebar .logo img {
  width: 50px;
  height: 50px;
}

.logo-wrapper,
.nav li {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav li,
.logo-wrapper {
  cursor: pointer;
  width: 100%;
}

.nav li:hover,
.nav li:focus {
  box-shadow: 0px 3px 5px -5px rgb(4, 67, 84);
}

.nav-top,
.nav-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo-wrapper {
  margin-bottom: 70px;
}

.nav-top {
  margin-bottom: 70px;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}

.main-wrapper {
  display: grid;
  grid-template-rows: auto 1fr; /* header be fixed size , .main occupy remaining space */
}

.header img,
.trending img {
  cursor: pointer;
}

.profile-pic img:hover,
.trending img:hover,
.profile-pic img:focus,
.trending img:focus {
  box-shadow: 0px 0px 3px 3px #ffb703;
}

.image,
.star,
.follow,
.share {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header {
  padding: 40px 70px;
}

.header-top {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 15px;
  margin: 0 0 30px 0;
  align-items: center;
}

.header-top input {
  width: 60%;
  appearance: none;
  border: none;
  background-color: #b0cdea;
  height: 35px;
  border-radius: 50px;
  padding-left: 20px;
}

.header-top img,
.header-bottom img {
  object-fit: cover;
  border-radius: 50%;
}

.header-top img {
  width: 30px;
  height: 30px;
}

.header-top .profile-pic img {
  width: 60px;
  height: 60px;
  margin: 0 20px;
}

.header-bottom img {
  width: 90px;
  height: 90px;
}

.header-bottom {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 15px;
  align-items: center;
}

.tag {
  background-color: rgb(0, 154, 196);
  padding: 13px 40px;
  color: white;
  margin: 0 10px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s;
}

.tag:hover,
.tag:focus {
  box-shadow: 0px 0px 5px 5px #b0cdea;
}

.tag:last-of-type {
  margin-right: 0;
}

.main {
  background-color: #b0cdea;
  display: grid;
  grid-template-columns: 1fr clamp(230px, 25%, 320px);
  padding: 45px 40px 90px 30px;
  gap: 30px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 50px 20px;
}

.projects p {
  color: #747474;
}

.card {
  min-height: 300px;
  background-color: #ffffff;
  padding: 50px 20px 50px 35px;
  display: grid;
  grid-template-rows: 30px auto auto;
  border-left: 10px solid #ffb703;
}

.card,
.announcements,
.trending {
  border-radius: 10px;
}

.action-icons {
  display: flex;
  justify-self: end;
  align-items: end;
  gap: 15px;
  padding-right: 20px;
}

.main h2 {
  margin-bottom: 15px;
}

.announcements {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px 30px;
  margin-bottom: 50px;
  max-width: 40ch;
}

.announcements p:first-of-type {
  margin-bottom: 5px;
  font-weight: 600;
}

.announcements p:last-of-type {
  font-size: 0.9rem;
  color: #747474;
}

.line {
  background-color: rgb(217, 217, 217);
  height: 2px;
  width: 100%;
}

.trending {
  background-color: #ffffff;
  padding: 30px;
}

.trending ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trending ul li {
  display: flex;
  gap: 20px;
  align-items: center;
}

.trending p:last-of-type {
  color: #747474;
}

.trending .image {
  /* image freaking shrinking so much it becomes squished, this prevents it*/
  flex-shrink: 0;
}

.trending img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.hamburger {
  position: fixed;
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  margin-top: 10px;
  z-index: 100;
  visibility: hidden;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 2px;
  background-color: black;
}

/*typography*/
.header-bottom p:last-of-type {
  font-size: 1.6rem;
  font-weight: 600;
  padding-top: 5px;
}

.sidebar {
  font-size: 1.2rem;
}

.header-top p {
  font-weight: 600;
  font-size: 1.2rem;
}

.sidebar.visible {
  visibility: visible;
}

@media screen and (max-width: 1440px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 1154px) {
  .tag {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-top input {
    width: 100%;
  }

  .sidebar {
    padding-right: 20px;
  }
}

@media screen and (max-width: 840px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: block;
    width: min-content;
    position: fixed;
    height: 100vh;
    visibility: hidden;
  }

  .header-top p {
    width: min-content;
  }

  .header-top input {
    width: 100%;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .main-right {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  .announcements {
    max-width: 100%;
  }

  .header-bottom p:last-of-type {
    font-size: 1.1rem;
  }

  .header-top p {
    font-size: 1rem;
  }

  .hamburger {
    visibility: visible;
  }
}

@media screen and (max-width: 541px) {
  .main {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-bottom {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
  }

  .header-bottom div:nth-of-type(2) {
    grid-column: 2/-1;
  }

  .header-top .profile-pic img {
    margin: 0;
  }
}
